/*-------------------------------------------------------------------
index.css 首页样式
-------------------------------------------------------------------*/

#box{
	width: 500px;
	height: 300px;
	margin: 50px auto;
	background-color: #EEE;
	position: relative;
}

#box .pox{
	width: 100px;
	height: 100px;
	background-color: green;
	color: #FFF;
	position: absolute;
	bottom: 10px;
	right: 10px;
	padding: 10px;
}